.crea{
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 60px;
  line-height: 1.2;
  margin-top: 150px;
  color: #6c859e;
  text-align: center;
}
.creados{
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 60px;
  line-height: 0.5;
  color: #6c859e;
  text-align: center;
}

.explora{
  margin-top: 20px;
  margin-left: 600px;
  border: none;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 30px;
  text-align: center;
  background: #dcbb38;
  padding: 15px;
  width: 150px;
  height: 60px;
  color: #dc384e;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.explora:hover{
  transform: scale(1.3);
}
