.micanvas{

  margin-left: 20px;
}
.imgcanvas{
  visibility: hidden;
}
.memeimg{
  display: none;
}
.inputRango{

  display: block;
}

.Dots{
  background: red;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Barriecito&display=swap);
