.micanvas{

  margin-left: 20px;
}
.imgcanvas{
  visibility: hidden;
}
.memeimg{
  display: none;
}
.inputRango{

  display: block;
}

.Dots{
  background: red;
}
.forminput input[type = text]{
  width: 205px;
  display: block;
  color: tomato;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Barriecito&display=swap);
