@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@keyframes aparecer {
  from{opacity: 0; transform: scale(0.8);}
  to{opacity: 1; transform: scale(1);}
}
.clash{
  margin-top: 50px;
}
.cumpleforma{
  display: grid;
  grid-template-areas: "edad fecha fecha horario horario"
                       "direccion direccion direccion direccion listo"
                       "info info info info listo"
                       "nombre nombre nombre nombre listo";
  grid-template-columns: 70px 100px 100px 100px 100px;
  grid-template-rows: 60px 60px 60px 60px;
  color : #D7263D;
  font-family: 'Gotham Medium', sans-serif;
  margin-top: 110px;
}
.cumpleforma input[type=text]{
  padding: 5px;
}
.cumpleedad{
  grid-area: edad;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.cumplefecha{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  grid-area: fecha;
}
.cumplehorario{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  grid-area: horario;
}
.cumplelugar{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  grid-area: direccion;
}

.cumpleinfo{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  grid-area: info;
}
.cumplename{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  grid-area: nombre;
}.listobutton{
  grid-area: listo;
  font-size: 25px;
  font-family: 'Gotham Medium', sans-serif;
  color: white;
  background:#000B7D;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  border: none;
}
.listobutton:hover{
  background: #D7263D;
}
.explain{
  color: #6c859e;
  font-family: 'Gotham Rounded', sans-serif;
  line-height: 1.2;
  font-size: 30px;
  margin-top: -20px;
}
.letterLogo{
  position: absolute;
  margin-top: 10px;
  width: 70px;

}
.falsoDiv{
  border: 2px solid gold;
  margin-left: 80px;
  margin-top: 150px;
  top: 0;
  position: absolute;
  background:#D7263D;
  border-radius: 20px;
  height: 10px;
  padding: 20px;
  display: none;
  border-bottom-left-radius: 0px;
}
.falsoP{
  font-family: 'Gotham Rounded', sans-serif;

  margin-top: -5px;
  color: white;
}
.templateCard{
  margin-left: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.clash{

}
.estilos{
  animation-name: aparecer;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  margin-left: 60px;
}
#templateimg{
  display: none;
}
.datosform{
  margin-top: 80px;
  margin-left: 310px;
}
form input{
  color : #D7263D;
  font-family: 'Gotham Medium', sans-serif;

}
form input[type=text]{
  padding: 5px;

}

.btndescarga{
  margin-top: -125px;
  position: absolute;
  margin-left: 307px;
  transform: rotate(90deg);
  font-size: 25px;
  writing-mode: vertical-lr;
  font-family: 'Gotham Medium', sans-serif;
  color: white;
  height: 87px;
  font-weight: 600;
  border : none;
  padding:10px;
  width: 162px;
  background:#000B7D;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}
.btndescarga:hover{
  background: #D7263D;
}
.pantallaok{
  margin-left: 30px;
  color: #5cb85c;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap');
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}
.pantallanotok{
  margin-left: 30px;
  color: gold;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap');
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

.preview{
  margin-left:  14px;
  text-align: center;

  width: 720px;
  height: 500px;
}
#canvas{
  animation-name: aparecer;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  margin-left: 14px;
  cursor: not-allowed;
  margin-top: 30px;
}
.loadercapa{
  margin-left: 40px;
  width: 100px;
  margin-top: 200px;
}
#primerimg{
  display: none;
}

.inputEdad{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  height: 40px;
  width: 40px;
}
.inputFecha{

  font-weight: bold;
  font-size: 30px;
  text-align: center;
  height: 40px;
  width: 170px;
}
.inputHorario{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  height: 40px;
  width: 150px;
}
.inputLugar{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  height: 40px;
  width: 300px;
}
.inputInfo{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  height: 40px;
  width: 300px;
}
.inputCumple{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  height: 40px;
  width: 300px;
}
.reloadMsg{
  color: white;
  font-family:'Roboto', sans-serif;
  font-size: 14px;
  z-index: -1;
  position: absolute;
  margin-top: 230px;
  margin-left: 356px;
  opacity: 0.7;
}
.refreshIcon{
  width: 20px;
  position: absolute;
  margin-left: -35px;
  animation-name: rotacion;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.marcoimg{
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}
.footerdiv h3{
  color: #e92c28;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.footerdiv a{
  color: #e92c28;
}
.footerdiv{
  bottom: 0;

  position: fixed;
  margin-top: -30px;
margin-left: 280px;
}
.rendering{
  font-size: 14px;
  font-family: 'Gotham Light', sans-serif;
  color: gold;
  margin-top: -0.5px;
  margin-left: 315px;
  position: absolute;
}
