@keyframes volver {
  from{ transform: scale(1.5);}
  to{transform: scale(1);}
}
@keyframes expandir {
  from{ transform: scale(1); }
  to{transform: scale(1.2);}
}
.dots span{
  transition: 0.3s;
}

.dots{
  width: 500px;
  height: 300px;
}
.packdots{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.packdots span{
  position: absolute;
}
.packdots1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 60px;
}
.packdots1 span{
  position: absolute;
}
.packdots2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 60px;
}
.packdots2 span{
  position: absolute;
}
.packdots3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 60px;
}
.packdots3 span{
  position: absolute;
}
#dot1{
  margin-left: 60px;
  transition: 0.3s;
  height: 40px;
  width: 40px;
  border: 2px solid #333;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot1:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot2{
  transition: 0.3s;
  margin-left: 120px;
  height: 40px;
  width: 40px;
  background-color: #E91E63;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot2:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot3{
  transition: 0.3s;
  margin-left: 180px;
  height: 40px;
  width: 40px;
  background-color: #9C27B0;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot3:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot4{
  transition: 0.3s;
  margin-left: 240px;
  height: 40px;
  width: 40px;
  background-color: #673AB7;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot4:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot5{
  transition: 0.3s;
  margin-left: 300px;
  height: 40px;
  width: 40px;
  background-color: #3F51B5;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot5:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot6{
  transition: 0.3s;
  margin-left: 360px;
  height: 40px;
  width: 40px;
  background-color: #2196F3;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot6:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot7{
  transition: 0.3s;
  margin-left: 60px;
  height: 40px;
  width: 40px;
  background-color: #03A9F4;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot7:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot8{
  transition: 0.3s;
  margin-left: 120px;
  height: 40px;
  width: 40px;
  background-color: #00BCD4;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot8:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot9{
  transition: 0.3s;
  margin-left: 180px;
  height: 40px;
  width: 40px;
  background-color: #009688;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot9:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot10{
  transition: 0.3s;
  margin-left: 240px;
  height: 40px;
  width: 40px;
  background-color: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot10:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot11{
  transition: 0.3s;
  margin-left: 300px;
  height: 40px;
  width: 40px;
  background-color: #8BC34A;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot11:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot12{
  transition: 0.3s;
  margin-left: 360px;
  height: 40px;
  width: 40px;
  background-color: #CDDC39;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot12:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot13{
  transition: 0.3s;
  margin-left: 60px;
  height: 40px;
  width: 40px;
  background-color: #FFEB3B;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot13:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot14{
  transition: 0.3s;
  margin-left: 120px;
  height: 40px;
  width: 40px;
  background-color: #FFC107;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot14:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot15{
  transition: 0.3s;
  margin-left: 180px;
  height: 40px;
  width: 40px;
  background-color: #FF9800;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot15:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot16{
  transition: 0.3s;
  margin-left: 240px;
  height: 40px;
  width: 40px;
  background-color: #FF5722;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot16:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot17{
  transition: 0.3s;
  margin-left: 300px;
  height: 40px;
  width: 40px;
  background-color: #795548;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot17:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot18{
  transition: 0.3s;
  margin-left: 360px;
  height: 40px;
  width: 40px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot18:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot19{
  transition: 0.3s;
  margin-left: 60px;
  height: 40px;
  width: 40px;
  background-color: #666666;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot19:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot20{
  transition: 0.3s;
  margin-left: 120px;
  height: 40px;
  width: 40px;
  background-color: #B3B3B3;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot20:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot21{
  transition: 0.3s;
  margin-left: 180px;
  height: 40px;
  width: 40px;
  background-color: #CCCCCC;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot21:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot22{
  transition: 0.3s;
  margin-left: 240px;
  height: 40px;
  width: 40px;
  background-color: #808080;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot22:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot23{
  cursor: pointer;
  transition: 0.3s;
  margin-left: 300px;
  height: 40px;
  width: 40px;
  background-color: #333333;
  border-radius: 50%;
  display: inline-block;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot23:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#dot24{
  cursor: pointer;
  transition: 0.3s;
  margin-left: 360px;
  height: 40px;
  width: 40px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  animation-name: volver;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
#dot24:hover{
  animation-name: expandir;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
