.lowNav{
  border-top: 1px solid grey;
  -webkit-box-shadow: 0px 6px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 5px -6px rgba(0,0,0,0.75);
box-shadow: 0px 6px 5px -6px rgba(0,0,0,0.75);
  background: #F99D07;
  width: 100%;
  height: 40px;
}
#hiddenDiv{
  overflow-y: scroll;
  z-index: 3;
  margin-left: 20px;
  transition: 0.3s;
  display: block;
  background: #F99D07;
  width:740px;
  height: 0px;
  position: absolute;
}
.showTemps{

  width: 100px;
  height: 40px;
  margin-left: 20px;
  border : none;
  background: #F99D07;
  padding: 5px;
  font-weight: bold;
  color: #000B7D;
  font-family: Open Sans, sans-serif;
  cursor: pointer;
}

.botonProps{

  background: #333;
  margin-left: 10px;
  display: block;
  cursor: pointer;
  width: 300px;
  transition: 0.4s;
}

.container{
  margin-top: 14px;
  grid-row-gap: 14px;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.infoCards h3{
  color: #000B7D;
  font-weight: bold;
  color: #000B7D;
  font-family: Open Sans, sans-serif;
}
