@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono&display=swap');
@font-face {
font-family: 'Gotham Medium';
Src: url('../fuentes/GothamMedium.ttf');
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #16324F;
  align-content: center;
  margin: auto;

  justify-items: center;
  align-items: center;
}
.logobro{
  margin-left: -300px;
}
.mislinks{
  margin-left: 124px;
}
.Linktags{
  text-decoration: none;
  color: #f94444;
  font-family: 'Gotham Medium', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-left: 50px;
  transition: 0.4s;
}
.selected{
  background-color: #D7263D;
  padding: 10px;
  color: white;

}
.logoimg{
  margin-left: -330px;
  width: 150px;
}
