nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #000B7D;
  align-content: center;
  margin: auto;

  justify-items: center;
  align-items: center;
}
.logobro{
  margin-left: -300px;
}
.mislinks{
  margin-left: 124px;
}
.Linktags{
  text-decoration: none;
  color: #f94444;
  font-family: Open Sans, sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap');
  font-weight: bold;
  font-size: 15px;
  margin-left: 50px;
  transition: 0.4s;
}
.selected{
  background-color: tomato;
  padding: 10px;
  color: white;

}
.logoimg{
  margin-left: -330px;
  width: 150px;
}
