@font-face {
font-family: 'Gotham Medium';
Src: url('./fuentes/GothamMedium.ttf');
font-display: optional;
}
@font-face {
font-family: 'Supercell-Magic';
Src: url('./fuentes/Supercell-magic-webfont.ttf');
font-display: optional;
}
@font-face {
font-family: 'Nemesis Grant';
Src: url('./fuentes/Nemesis Grant.otf');
font-display: optional;
}
@font-face {
font-family: 'Waltograph';
Src: url('./fuentes/waltographUI.ttf');
font-display: optional;
}
.footerSec{
  position: absolute;
  top: 0;
  font-family: 'Gotham Rounded', sans-serif;
  color: #D7263D;
  margin-top: 580px;
  font-size: 12px;
  margin-left: 950px;
}
@media screen and (max-width: 800px) {

  .App{

    min-width: 645px;
  }
  .footerSec{
      display: none;
    margin-top: 1000px;
    margin-left: 400px;
  }
  .footerp{
    
    font-size: 10px;
  }
}
